<!DOCTYPE html>
<html>

<head>
    <title>Plant B - Pflanzenübersicht</title>
    <link rel="stylesheet" href="/css/style-plantoverview.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
</head>

<body>
    <nav>
        <a href="/home">Home</a>
        |
        <a href="/plant_overview">Pflanzenübersicht</a>
        |
        <% if(typeof username=='undefined' ){ %>
            <a href="/login">Login</a>
            |
            <a href="/register">Registrieren</a>
            <% }else{ %>
                <div class="dropdown">
                    <button class="dropbtn">
                        <%=username%>
                    </button>
                    <div class="dropdown-content">
                        <a href="/profile">Dein Profil</a>
                        <a href="">Deine PLANTage</a>
                    </div>
                </div>
                |
                <a href="/logout">Logout</a>
                <% }; %>
    </nav>

    <main class="margintop">

        <% for (let i=0; i < posts.length; i++) { %>

            <a href="/plant_details/<%=posts[i].id%>" class="">
                <div class="plant">
                    <img src="<%= posts[i].img %>" class="plantimg" alt="">
                    <h2>
                        <%= posts[i].deutscherName %>
                    </h2>
                    <div class="lat">(lat. <%= posts[i].title %>)</div>
                    <br>
                    Schwierigkeitsgrad:
                    <h3>
                        <%= posts[i].schwierigkeit %>
                    </h3>
                    Mehr Infos mit einem CLICK!
                </div>
            </a>

            <% } %>
    </main>
    <br>

    <a href="/plant_create" class="plant">
        <img src="/images/lolol.jpg" class="newplantimg" alt="">
    </a>

</body>

</html>