<!DOCTYPE html>
<html>

<head>
    <title>Plant B - Pflanzenübersicht</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
</head>

<body>
    <%- include('partials/navbar_loggedin') %>

    <main>

        <div class="overview">
            
            <div class="headline">
                <h2>PLANTage</h2>
            </div>
            <br>
            <div class="createlink">
                <a  href="/plant_create">+ PLANTsheet erstellen</a>
            </div>

        

            <% for (let i=0; i < posts.length; i++) { %>

            
            <div class="post">
                <a href="/plant_details/<%=posts[i].id%>" class="">
                <div class="postpic">
                    <img src="<%= posts[i].img %>" class="midpic" alt="">
                </div>
                <div class="posttxt">
                    <h2>
                        <%= posts[i].deutscherName %>
                    </h2>
                    <em>  (lat. <%= posts[i].title %>)  </em><br>
                    <br>
                    <strong>
                    Schwierigkeitsgrad:</strong>
                    <%= posts[i].schwierigkeit %>
                    
                </div>
            </a>
            </div>

           
         

            <% } %>

                <br>
                <br>
                <br>
        </div>
    </main>
 </body>
</html>