<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant B</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
</head>

<body>
    <%- include('partials/navbar_loggedin') %>
    <main>

        <div class="headline">
            <h2><span style="font-weight: 300;"> Profil von </span><%=username%></h2>
        </div>

        <div class="content">

            <div class="left">
                <img class="profilpic" src="/icons/delete.png" alt="">
            </div>

            <div class="right">
                
                <div class="profilform">
                        <form class="formular" action="change" method="POST">
                            <h4>Passwort ändern</h4>

                            <input class="textf" type="password" name="pw_old" id="pw-old" placeholder="Altes Passwort">
                            <input class="textf" type="password" name="pw_new" id="pw-new" placeholder="Neues Passwort">
                            <input class="textf" type="password" name="pw_rep" id="pw-rep" placeholder="Passwort wiederholen">
                            <br>
                            <label for="cleartext">
                                <input type="checkbox" name="cleartext" id="cleartext" onchange="show_pw('pw-old'); show_pw('pw-new'); show_pw('pw-rep');">
                                <span class="cleartext">Passwort anzeigen</span>
                            </label>
                            <div class="error-msg">
                                <p><%= typeof err_msg != 'undefined' ? err_msg : '' %></p>
                            </div>
                            <input class="btn" type="submit" name="" id="">
                        </form>
                        <br>
                        <form class="formular" action="delete" method="POST">
                            <h4>Profil löschen</h4>
                            <input class="textf" type="password" name="password" id="password" placeholder="Passwort">
                            <br>
                            <label for="cleartext">
                                <input type="checkbox" name="cleartext" id="cleartext" onchange="show_pw('password'); ">
                                <span class="cleartext">Passwort anzeigen</span>
                            </label>
                            <div class="error-msg">
                                <p><%= typeof err_msg != 'undefined' ? err_msg : '' %></p>
                            </div>
                            <input class="btn" type="submit" name="" id="">
                        </form>
           
                    <%= typeof scs_msg !='undefined' ? scs_msg : '' %>
                </div>
            </div>
        </div>

    </main>
    <script src="/scripts/register.js"></script>
</body>

</html>