<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plant B</title>
   

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
        <link rel="stylesheet" href="/css/style2.css">
    </head>
    <body>
        <%- include('partials/navbar_loggedin') %>

        <div class="detail">

            <div class="headline">
                <h2>Frage <%= question.id %></h2>
            </div>

            <div class="createlink">
                <a href="/question">Zurück</a>
            </div>
            <div class="detailpost">
               
                <!-- <div class="detailpic"> -->
                    <img src="/<%= question.img %>"  alt=""  class="bigpic">

                <!-- </div>   -->
            
                <div class="detailright">
                    <div class="detailtxt">
                        <div class="detailhead">
                            <h4><%= question.tstamp %> von <%= question.name %></h4>
                            <h2><%= question.title  %></h2>
                        </div>
                        <div class="detailmain">
                            <p><%= question.txt %></p>
                            <!-- <img class="icon" src="/icons/edit.png" alt="bearbeiten">
                            <img class="icon" src="/icons/delete.png" alt="löschen"> -->
                        </div>
                        <br>
                        <% if(userid && question.userid == userid) { %>
                        <div class="editlinks">
                            <a class="editlinks" href="/question/<%= question.id %>/edit">bearbeiten</a>
                            <a class="editlinks" href="/question/<%= question.id %>/delete">löschen</a>
                        </div>
                        <% } %>
                            
                    </div>
                </div>
              
            </div>
       
            <h3>Antworten:</h3>
            <br>
            <% if(typeof answers != 'undefined' && answers.length > 0) { %>

                

                    <% for(let i=0; i < answers.length; i++) { %>
                    <span style="position: relative; right: 17%;" ><%=answers[i].tstamp%> von <%=answers[i].name%>:</span>
                    <div class="detailanswer" id="answers">
                        
                        <div class="vote">
                            <% if (userid){ %>
                                <a href="/upvote/<%= answers[i].id %>">+</a>
                            <% } %>
                            <%= answers[i].votes %> 
                            <% if (userid){ %>
                                <a href="/downvote/<%= answers[i].id %>">-</a>
                            <% } %>
                        </div>

                        <div class="answertxt">
                            
                            <%=answers[i].txt %>
                        </div>

                        <% if(userid && answers[i].userid == userid) { %>
                            
                            <a href="/delete_answer/<%=answers[i].id%>" class="editlinks"> löschen </a>
                                
                        <% } %>
                   
                </div>
                <% } %>

            <% } else { %>
                <div class="detailpost" id="answers">
                    <p>Keine Antworten vorhanden</p>
                </div>
            <% } %>
        
                <br>
            <% if (userid){ %>
                <div class="formular">

                    <form action="/create_answer" method="POST" id="answer">
                    </form>
                    <textarea class="textf" name="txt" id="txt" cols="30" rows="10" placeholder="Deine Antwort" form="answer"></textarea>
                    
                    <input class="btn" type="submit" name="" id="" form="answer">
                    <input type="hidden" name="questionid" id="" form="answer" value="<%=question.id%>">
                </div>
            <% } %>
        </div>
        
    </body>
</html>