<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plant B</title>
        <link rel="stylesheet" href="/css/style-logreg.css">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
    </head>
    <body>
        <% if (userid) { %>
            <%- include('partials/navbar_loggedin') %>
        <% } else { %>
            <%- include('partials/navbar_loggedout') %>
        <% } %>
        <main>
                <div>
                    <a href="/question/create">Frage erstellen</a>
                <% for (let i=0; i < questions.length; i++) { %>
                    <div id="question">
                        <br>
                        <h2><a href="/question/<%=questions[i].id%>"><%= questions[i].title  %></a></h2>
                        <h4><%= questions[i].tstamp %> von <%= questions[i].name %></h4>
                        <br>
                    </div>
                <% } %>
                <a href="/welcome">Zurück</a>
            </div>
        </main> 
       
    </body>
</html>